---
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';
import { popular_productos } from "../components/productos";
import { Image } from 'astro:assets';
---

<Layout title="Sneakers Huboi zapatillas de calidad">
	
	<hero class="relative flex-col sm:grid sm:grid-cols-4 max-h-screen">
		<h1 class=" p-[2rem] font-extrabold text-[4rem] sm:self-start sm:col-start-1 sm:row-start-1 leading-none lg:text-[7rem] xl:text-[8rem] text-[#faf8f5] lg:ml-[1rem] self-end mt-[8rem]   ">SNEA <br/>
			KER
		</h1>
		
		<div class=" sm:row-start-1 sm:col-span-3 lg:col-start-2 lg:col-end-4 lg:row-start-1 lg:row-end-2 justify-self-center place-content-end place-self-end">
			<div class=" lg:absolute">
				<Image height={100} width={100} class="lg:relative xl:left-[-400px] lg:top-[-250px]  hero-zapatilla bg-[url(/bg.png)]  bg-no-repeat bg-contain bg-center " src="/nike-dunk-unscreen.gif" alt="Gift de una zapatilla girando">
			</div> 
		</div>
		<img class=" hidden xl:block mano-top justify-self-center mr-80" src="/hand-top.png" alt='La imagen de una mano'>
		<img class="mano absolute right-20 sm:hidden lg:static lg:block lg:col-span-2 lg:row-start-2 xl:justify-self-center xl:self-end" src="/hand.png" alt='La imagen de una mano'>

		
		<div class=" hidden sm:block relative sm:col-span-4 justify-self-center sm:justify-self-end sm:mr-10 sm:mt-28 lg:mt-0 lg:p-0 lg:self-center row-start-2 sm:text-5xl lg:text-6xl xl:text-7xl font-black ">
		<p class="text-[#B8B8B8] tracking-[10px] ">SNEAKER</p>
		<p class=" w-96 absolute text-white text-xs ">No te conformes con lo ordinario elige lo extraordinario con las zapatillas Nike 
		fashion que marcan tendencia en todo el mundo Hazte con un par hoy mismo y eleva tu estilo a nuevas alturas</p>
		<a class=" arrow text-white absolute sm:top-40 sm:text-xl xl:text-2xl" href="/">ELIGE EL TUYO</a>
		<p class="parrafo op">SNEAKER</p>
		<p class="parrafo opacity-50">SNEAKER</p>
		<p class="parrafo opacity-30">SNEAKER</p>
		<p class="parrafo opacity-10">SNEAKER</p>
		
		</div>
		<!-- <div class="bg-circle right-0 bottom-[40%]"></div> -->
	</hero>
	<main class=" max-w-[85rem] mx-auto mt-[25rem] sm:mt-[0rem] lg:mt-[25rem] xl:mt-[15rem] ">
		
		<h2 class="mb-20 text-4xl text-center xl:text-start sm:text-5xl uppercase texto-con-gradiente">Modelos mas populares</h2>
		<ul class="flex flex-col sm:flex-row sm:flex-wrap items-center justify-center">
            {popular_productos.map((producto:any) => (
                <Card
                    href={producto.href}
                    img={producto.img}
                    title={producto.title}
                    marca={producto.marca}
                    tipo={producto.tipo}
                    tallas={producto.tallas}
                    precio={producto.precio}
					rotateImage={true}
                />
            ))}
        </ul>
	</main>

	<article class=" max-w-[85rem] mx-auto p-5">
		<div class="compra relative max-w-2xl  sm:max-w-6xl mx-auto my-40 bg-[#faf8f5] rounded-[25px] p-7 sm:p-20 ">
			<div class=" lg:w-[30rem] xl:w-[35rem]">
				<h2 class=" mt-40 sm:mt-0 text-3xl sm:text-4xl uppercase mb-10">Como comprar <span class=" font-sans font-extrabold">?</span></h2>
				<p class="article-text text-sm text-pretty ">Para realizar una compra con nosotros simplemente contáctanos a 
					través de WhatsApp y haznos saber los productos que deseas adquirir. </p>
					<br>
				<p class="article-text text-sm"> Una vez recibamos tu solicitud, te
					proporcionaremos información adicional, 
					incluyendo detalles sobre disponibilidad, precios 
					y opciones de envío. </p>
					
				<p class="article-text text-sm">Nuestro método de pago es 
					contra reembolso, lo que significa que pagarás al 
					recibir tu pedido. ¡Es así de fácil!</p>
			</div>
			<img class=" absolute top-[-140px] left-[-20%] sm:hidden lg:block lg:left-[50%] w-[30rem]" src="/shirt.png" alt="">
			<img class=" absolute top-[-140px] left-[5%] sm:hidden lg:block lg:left-[70%] w-[30rem] " src="/shirt1.png" alt="">
			<img class="hidden lg:block absolute top-[200px] left-[70%] w-[30rem]" src="/shoe.png" alt="">
		</div>
	</article>
</Layout>

<style>
	

	.bg-circle{
		width: 15rem;
		height: 15rem;
		border-radius: 5rem;
		background: radial-gradient(circle, #C92CB9, transparent); 
		filter: blur(100px);
		position: absolute;
		opacity: 100%;
		
	}

	hero{
		grid-template-rows: repeat(5, 500px) ;
		
	}

	@media ( min-width: 768px) { 
		
		hero{
			grid-template-rows: repeat(3, 500px) ;
		}
	}

	.hero-zapatilla{
		animation: zapatilla-animacion 1.2s ease-in-out both;
		width: 800px;
	}
	
	@keyframes zapatilla-animacion {
		from {
		opacity: 0;
	}
		to {
			opacity: 1;
		}
	}

	.mano-top{
		animation: mano-top-animacion 0.7s ease-in-out both;
		width: 500px;
		height: auto;
	}

	.mano{
		mask-image: linear-gradient(black 80%, transparent);
		animation: mano-animacion 0.7s ease-in-out both;
		width: 500px;
	}

	@keyframes mano-animacion {
		from {
		opacity: 0;
		translate: -250px 0;
	}
		to {
			opacity: 1;
			translate: 0 0;
		}
	}

	@keyframes mano-top-animacion {
		from {
		opacity: 0;
		translate: 250px 0;
	}
		to {
			opacity: 1;
			translate: 0 0;
		}
	}
	

	.contenedor-degradado {
         
		 background-image: radial-gradient(at center, #C92CB9, rgba(161, 161, 161, 0));
		 border-radius: 50%; 
	 }
 	.parrafo{
	 color: transparent;
	 -webkit-text-stroke: 1px #B8B8B8; 
	 letter-spacing: 10px;
 	}


	
	.arrow::before{
		content: "";
		display: inline-block;
		width: 150px;
		height: 2px;
		background-color: #fff;
		position: relative;
		top:-5px;
		right: 10px;
		margin-left: 2rem;
	}
	@media (min-width: 640px) {
		.arrow::before{
			width: 60px;
		}
	 }

	@media (min-width: 1228px) {
		.arrow::before{
			width: 150px;
		}
			
	}

 	.arrow::after{ 
		content: url(/public/icon/arrow.png);
		display: inline-block;
		width: 45px;
		height: 35px;
		position: relative;
		top:15px;
		left: 25px;
	}

	.texto-con-gradiente {
    /* background-image: linear-gradient(to right, #C92CB9, #fff); */
	background: linear-gradient(45deg, #C92CB9, #9C1C88);
    -webkit-background-clip: text; 
    color: transparent;
}

.compra{
	border-left: solid 9px #C92CB9 ;
	border-bottom: solid 9px #c92cb9;
	
}

.compra img {
	
  filter: drop-shadow(1px 1px 5px #c92cb960);

}

.article-text{
		
	font-family: sans-serif;		
	font-size: 15px;
	font-weight: 900;
	color: #000000;
}



</style>
