---


const { img, title, tipo, tallas, precio, flipImage } = Astro.props;


---

<li id="overlay" class=" overlay card">
	<a href={img}>
	<div id="modal" class="modal card-img mb-10 mx-5 flex flex-col justify-between">
		<h4>{title}</h4>
		<img id="modalImg" class={flipImage ? " w-96 flipped-image" : "w-96"} loading="lazy"  src={img} alt="imagen">
		<div>
		<p>{tipo}</p>
		<p>{tallas}</p>
		<p class="precio">{precio}</p>
		</div>
	</div>
	</a>

</li>
<script>
	const modalImg = document.getElementById('modalImg') as HTMLImageElement;
const overlay = document.getElementById('overlay') as HTMLElement;
const modal = document.getElementById('modal') as HTMLElement;

modalImg.addEventListener('click', () => {
  overlay.style.display = 'block';
  modal.style.display = 'block';
});

overlay.addEventListener('click', () => {
  overlay.style.display = 'none';
  modal.style.display = 'none';
});
</script>
<style>
	.flipImage{
		transform: scaleX(-1);
		
	}
	.card{
		list-style: none;
	}
	.card-img {
		list-style: none;
		padding: 20px;
		background-color: #faf8f5;
		width: 300px;
		height: 360px;
		border-radius: 25px;
		border-left: solid 9px #C92CB9 ;
		border-bottom: solid 9px #C92CB9;	
		
	}


	h4 {
		font-size: 13px;
		font-weight:900;
		text-transform: uppercase;
	}
	p {
		font-size: 12px;
		font-weight: 600;
		text-transform: uppercase;
		color: #707072;
	}
	.precio{
		color: #000;
		font-weight: bold;
	}
	.card:is(:hover, :focus-within) {
		background-position: 0;
		background-image: var(--accent-gradient);
	}
	.card:is(:hover, :focus-within) h2 {
		color: rgb(var(--accent-light));
	}
</style>
