---
export interface Productos {
	href: string;
	img: string;
	title: string;
	marca:string;
	tipo:string;
	tallas:string
	precio: string;
	
}

const {href, img, title, tipo, tallas, precio } = Astro.props;
---

<li class="card">
	<a href={href}>
	<div class="card-img mb-10 mx-5">
		<h4>{title}</h4>
		<img class=" w-96" loading="lazy"  src={img} alt="imagen">
		<p>{tipo}</p>
		<p>{tallas}</p>
		<p class="precio">{precio}</p>
	</div>
	</a>

</li>

<style>
	img{
		transform: scaleX(-1);
		transform: rotate(-3deg) scaleX(-1);
	}
	.card{
		list-style: none;
	}
	.card-img {
		list-style: none;
		padding: 20px;
		background-color: #faf8f5;
		width: 300px;
		height: 360px;
		border-radius: 25px;
		border-left: solid 9px #C92CB9 ;
		border-bottom: solid 9px #C92CB9;	
		
	}


	h4 {
		font-size: 13px;
		font-weight:900;
		text-transform: uppercase;
	}
	p {
		font-size: 12px;
		font-weight: 600;
		text-transform: uppercase;
		color: #707072;
	}
	.precio{
		color: #000;
		font-weight: bold;
	}
	.card:is(:hover, :focus-within) {
		background-position: 0;
		background-image: var(--accent-gradient);
	}
	.card:is(:hover, :focus-within) h2 {
		color: rgb(var(--accent-light));
	}
</style>
