---

export interface Productos {
	img: string;
	marca: string;
	title?: string;
	tipo:string;
	tallas:string
	precio: string;
	flipImage?: boolean;
}


const { img, marca, title, tipo, tallas, precio, flipImage } = Astro.props;


---

<li id="overlay" class="overlay card modal card-img mb-10 mx-5 flex flex-col justify-between">
	<div>
		<h2 class="text-sm">{marca}</h2>
		<h3 class=" text-sm">{title}</h3>
	</div>

	<a href={img} class=" mx-auto">
		<img id="modalImg" class={flipImage ? "flipImage " : ""} loading="lazy"  src={img} alt="imagen">
	</a>

	<div>
		<p>{tipo}</p>
		<p>{tallas}</p>
		<p class="precio">{precio}</p>
	</div>
</li>

<script>

const modalImg = document.getElementById('modalImg') as HTMLImageElement;
const overlay = document.getElementById('overlay') as HTMLElement;
const modal = document.getElementById('modal') as HTMLElement;

modalImg.addEventListener('click', () => {
  overlay.style.display = 'block';
  modal.style.display = 'block';
});

overlay.addEventListener('click', () => {
  overlay.style.display = 'none';
  modal.style.display = 'none';
});
</script>

<style>

	#modalImg {
		object-fit: contain; /* Mantiene la imagen dentro del contenedor */
		width: 100%; /* Establece un ancho máximo basado en el contenedor */
		height: 200px; /* La altura se ajusta automáticamente manteniendo la relación de aspecto */
		max-height: 100%; /* Asegura que la imagen no exceda la altura del contenedor */
	}


	.flipImage{
		transform: scaleX(-1) rotate(25deg);
		filter: drop-shadow(0px 10px 7px rgba(205, 69, 202, 0.5));
	}
	
	.card{
		list-style: none;
	}
	.card-img {
		list-style: none;
		padding: 20px;
		background-color: #faf8f5;
		width: 300px;
		height: 360px;
		border-radius: 25px;
		border-left: solid 9px #C92CB9 ;
		border-bottom: solid 9px #C92CB9;	
		
	}


	h4 {
		font-size: 13px;
		font-weight:900;
		text-transform: uppercase;
	}
	p {
		font-size: 12px;
		font-weight: 600;
		text-transform: uppercase;
		color: #707072;
	}
	.precio{
		color: #000;
		font-weight: bold;
	}
	.card:is(:hover, :focus-within) {
		background-position: 0;
		background-image: var(--accent-gradient);
	}
	.card:is(:hover, :focus-within) h2 {
		color: rgb(var(--accent-light));
	}
</style>
