---
import { Image } from "astro:assets";
import '@fontsource-variable/montserrat';


interface Producto {
    href: string;
    img: string;
    title: string;
    marca: string;
    tipo: string;
    tallas: string[];
    precio: number;
    flipImage: boolean;
}

const { img, marca, title, tipo, tallas, precio, flipImage, rotateImage } = Astro.props;


---

<li id="overlay" class=" relative overlay card modal card-img mb-10 sm:mx-5 sm:flex sm:flex-col sm:justify-between revealing-image">
	<div class=" absolute">
		<h2>{marca}</h2>
		<h3 >{title}</h3>
	</div>

	<div class="w-[10rem] h-[8rem] sm:w-auto sm:h-auto mt-10 sm:mt-14">
		<a href={img} class="mx-auto">
			<Image id="modalImg" class={flipImage ? "flipImage " : ""} width={100} height={100} loading="lazy"  src={img} alt="imagen de producto, zapatilla o ropa">
		</a>
	</div>

	<div class="p-1">
		<p>{tipo}</p>
		<p>{tallas}</p>
		<p class="precio">{precio}</p>
	</div>
</li>

<script>

const modalImg = document.getElementById('modalImg') as HTMLImageElement;
const overlay = document.getElementById('overlay') as HTMLElement;
const modal = document.getElementById('modal') as HTMLElement;

modalImg.addEventListener('click', () => {
  overlay.style.display = 'block';
  modal.style.display = 'block';
});

overlay.addEventListener('click', () => {
  overlay.style.display = 'none';
  modal.style.display = 'none';
});
</script>

<style>

.revealing-image {
	
	view-timeline-name: --revealing-image;
	view-timeline-axis: block;

	animation: linear reveal both;
	animation-timeline: --revealing-image;

	
	animation-range: entry 30% cover 40%;
}

@keyframes reveal {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

	#modalImg {
		object-fit: contain; 
		width: 100%; 
		height: 180px; 
		max-height: 100%; 
	}

	.rotateImage{
		transform: scaleX(-1) rotate(25deg);
		filter: drop-shadow(0px 10px 7px rgba(205, 69, 202, 0.5));
	}

	.flipImage{
		transform: scaleX(-1);
	}
	
	.card{
		list-style: none;
	}
	
	.card-img {
		list-style: none;
		padding: 10px;
		background-color: #faf8f5;
		width: 190px;
		height: 250px;
		border-radius: 20px;
		border-left: solid 4px #C92CB9 ;
		border-bottom: solid 4px #C92CB9;	
	}

	@media ( min-width: 640px) { 
		.card-img{
			list-style: none;
			padding: 20px;
			background-color: #faf8f5;
			width: 300px;
			height: 360px;
			border-radius: 25px;
			border-left: solid 9px #C92CB9 ;
			border-bottom: solid 9px #C92CB9;	
		}
	}


	h4 {
		font-size: 13px;
		font-weight:900;
		text-transform: uppercase;
	}
	
	h2, h3{
		font-family: MiFuentePersonalizada, sans-serif;	
		font-size: 11px;
	}
	

	@media ( min-width: 640px) { 
		h2, h3{
			font-size: 15px;
		}
	}

	

	p {
		font-family: 'Montserrat Variable', sans-serif;	
		letter-spacing: 1px;
		font-size: 10px;
		font-weight:900;
		text-transform: uppercase;
		color: #707072;
	}

	@media ( min-width: 640px) { 
		p{
			font-size: 12px;
		}
	}
	.precio{
		color: #000;
		font-size: 11px;
	}

	@media ( min-width: 640px) { 
		.precio{
			font-size: 15px;
		}
	}
	.card:is(:hover, :focus-within) {
		background-position: 0;
		background-image: var(--accent-gradient);
	}
	.card:is(:hover, :focus-within) h2 {
		color: rgb(var(--accent-light));
	}
</style>
