---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Noise from '../components/Noise.astro';

interface Props {
	title: string;
    canonical?: string
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="overflow-x-hidden">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Venta de replica de zapatillas, ropas, merch de la mejor calidad del mercado" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/icon/logo-hub01.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
        <meta name="robots" content="index">
        <meta name="keywords" content="zapatilla, nike, sneakers, replica, ropa, sneakers hub01" />

        <!-- OPEN GRAPH -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content={title} />
        <meta name="twitter:description" content='Venta de replica de zapatillas, ropas, merch de la mejor calidad del mercado' />
        <meta name="twitter:image" content='/icon/Open-graf.png' />

        <meta name="og:image" content='/icon/Open-graf.png' />
        <meta property="og:image:alt" content="logo de Sneaker Hub01">
        <meta name="og:title" content={title} />
        <meta name="og:description" content='Venta de replica de zapatillas, ropas, merch de la mejor calidad del mercado' />
        <meta name="og:url" content={Astro.url} />
        <meta name="og:site_name" content="Sneaker Hub01" />
        <meta name="og:type" content="website" />
        <meta name="og:locale" content="es_ES" />
         <!--  -->

		<script src="../components/script.ts"></script>



	</head>
	<body>
		<Noise/>
		<Header/>
		<slot/>
		<Footer/>
	</body>
</html>
<style is:global>

	@font-face {
	font-family: 'MiFuentePersonalizada';
	src: url('/public/Phonk-RegularDEMO.otf') format('truetype');
	
	}

	body{
		font-family: MiFuentePersonalizada, sans-serif;
		background-color: #131313;
		
	}
	

	@keyframes noise {
    0% {
        transform: translate(0,0);
    }

    10%{
        transform: translate(-5%, -5%);
    }
    20%{
        transform: translate(-10%, -5%);
    }
    30%{
        transform: translate(-5%, -10%);
    }
    40%{
        transform: translate(-5%, -15%);
    }
    50%{
        transform: translate(-10%, 0%);
    }
    60%{
        transform: translate(15%, 0);
    }
    70%{
        transform: translate(0%, 15);
    }
    80%{
        transform: translate(10%, 5%);
    }
    90%{
        transform: translate(5%, 10%);
    }
    100%{
        transform: translate(0, 0);
    }


}


</style>